@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding:0;
}

body{
   background-color:rgba(247,248,250,255);
   font-family: Quicksand;
}

li, a{
font-weight: 500;
font-size: 20px;
text-decoration: none;
color: black;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 10%;
}

.top-nav{
    list-style: none;
}

.top-nav li{
    display: inline-block;
    padding: 0px 20px;
}

.span{
    color: aqua;
}

h1 span{
    color: aqua;
}

.logo{
    font-weight: 500;
font-size: 30px;
}

.container{
    display: flex;
}

.sec{
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: (3, 1fr);
    grid-template-rows: (1fr);
    grid-template-areas:"ex skill picture" ;
    padding-top: 100px;
}

.about-me{
    position: relative;
    left: 200px;
}

.ex{
    grid-area: ex;
    padding-left: 200px;
    
}

.skill{
    grid-area: skill;
    padding-right: 100px;
}

.picture{
    grid-area: picture;
    background-color: transparent;
    position: relative;
    bottom: 210px;
    right: 30px;
    padding-right: 400px;
}


h5{
    padding: 13px 3px;
}

.w-s p{
   color: black;
   border-radius: 13px;
   width: 120px;
   border: 1px solid aqua;
   text-align: center;
   background-color: grey;
   height: 30px;
}

.boxes{
    display: flex;
}

.boxes-1{
    display: flex;
    margin-bottom: 70px;
}

.boxes-2{
    display: flex;
    margin-bottom: 30px;
}

.boxes-3{
    display: flex;
    margin-bottom: 30px;
}

.boxes-4{
    display: flex;
    margin-bottom: 30px;
}

.boxes-5{
    display: flex;
    margin-bottom: 30px;
}

.w-s{
    padding-left: 100px;
}
